<div class="auth-wrapper">
  <div class="auth-card">
    <h1>Create Account</h1>
    <p>Sign up to get started.</p>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister($event)">

      @if (errorMessage()) {
        <div class="backend-error-alert">
          {{ errorMessage() }}
        </div>
      }
      <div class="name-row">
        <div class="input-group"><label>First Name</label><input formControlName="firstName" class="input-field"
            type="text" /></div>
        <div class="input-group"><label>Last Name</label><input formControlName="lastName" class="input-field"
            type="text" /></div>
      </div>
      <div class="input-group"><label>Email</label><input formControlName="email" class="input-field" type="email" />
      </div>
      <div class="input-group">
        <label>Password</label>
        <div class="password-wrapper">
          <input [type]="showPassword() ? 'text' : 'password'" formControlName="password" class="input-field" />

          <button type="button" class="toggle-icon" (click)="togglePassword()">
            @if (showPassword()) {
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path
                d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24">
              </path>
              <line x1="1" y1="1" x2="23" y2="23"></line>
            </svg>
            } @else {
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
              <circle cx="12" cy="12" r="3" />
            </svg>
            }
          </button>
        </div>
      </div>
      @if (registerForm.valid) {
      <button type="submit" class="submit-btn">
        Register Now
      </button>
      }
    </form>
  </div>
</div>